/* src/App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

h1 {
  font-size: 36px;
  margin: 20px 0;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  background: #f7f7f7;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 300px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

li img {
  max-width: 100%;
  height: auto;
}

h3 {
  font-size: 20px;
  margin: 10px 0;
}

p {
  font-size: 16px;
  margin: 10px 0;
}

.cart-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.cart-button:hover {
  background-color: #0056b3;
}

.cart-link {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 18px;
  text-decoration: none;
  color: #007bff;
}
